body {
    margin: 0px;
    background-color: #1c1a1a;
}

main {
    display: flex;
}

/* div plateau */
#plateau {
    width: 50%;
}

#enemis {
    width: 99%;
}

#clicker {
    width: 100%;
    height: 370px;
}

#allies {
    display: flex;
    width: 99%;
}

.carte {
    
    /* margin: 1px; */
}

#principal {

}

.img {
    width: 99%;
    height: 216px;
}

/* div shop */

.shop {
    width: 25%;
    color: aliceblue;
}

    /* shop armes */

#shop_armes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.img_armes {
    width: 99%;
    height: 91px;
   
}

    /* shop alliés */

#shop_allies {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.img_allies {
    width: 99%;
    height: 167px;
}

.carte-allies {
    width: 55%;
}